.custom-file-input {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #e5e6e3;
    border-radius: 6px;
    border: 2px solid #173054;
  }
  
  .custom-file-input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #173054;
    padding: 10px 20px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  .custom-file-input::file-selector-button:hover {
    background: #0d45a5;
  }
  